/*The following was run using CTL+Shift+J which brought up JavaScript Executor*/

var isNewRecord = g_form.isNewRecord();

alert('Is this a new record? ' + isNewRecord );

g_form.addErrorMessage('Help!!!');

g_form.clearMessages();

alert(g_form.getLabelOf('category'));

var tableName = g_form.getTableName();
alert('Table: ' + tableName);
